.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-40{
	margin-top: 40px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-60{
	margin-top: 60px;
}
.m-t-70{
	margin-top: 70px;
}
.m-t-75{
	margin-top: 75px;
}
.m-l-10{
	margin-left: 10px;
}