@import url('custom.css');
@import url('staticBootstrap.css');
@import url('boxmodel.css');
@import url('main.css');
@import url('frontPage.css');
@import url('login.css');
@import url('wizard.css');
@import url('customer.css');
@import url('vendor.css');
