<div class="container">
		<div class="col-md-offset-3 col-md-6">
			<h3 class="text-center">Add Job Category</h3>
			<form ng-submit="postjob()" class="frmbgclr" name="myForm">
						<div class="form-group">
							<label class="control-label" for="jobCategory">Job Category:</label>
							<input type="text" class="form-control" name="jobCategory" ng-model="postcategory.jobCategory" required placeholder="Enter jobcategory" >	
						    <span class="help-block" ng-show="myForm.jobCategory.$invalid && myForm.jobCategory.$touched ||myForm.jobCategory.$invalid && myForm.jobCategory.$dirty">
                            <span class="help-block" ng-show="myForm.jobCategory.$error.required">jobCategory is required </span>
                            </span>
                            <span class="help-block" ng-show="myForm.jobCategory.$error.pattern || myForm.jobCategory.$error.minlength || myForm.jobCategory.$error.maxlength" >Enter Text only, between 5 to 20 characters</span>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-primary" ui-sref="RA.jobcategory">Back</button>
						<button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Submit</button>
						</div>
						
			</form>
     </div>
</div>