<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<h3 class="text-center">Update JobType</h3>
			<form name="user" class="frmbgclr" ng-submit="jobtypeupdate()">
				
               <div class="form-group">
					<label class="control-label" for="fname">Job Type:</label>
                    <input type="text" class="form-control" name="jobType" ng-model="alluser.jobType" required placeholder="Enter Job Type"> 
                     <span class="help-block" ng-show="user.jobType.$invalid && user.jobType.$touched ||user.jobType.$invalid && user.jobType.$dirty">
                 <span class="help-block" ng-show="user.jobType.$error.required">JoinWithIn is required </span>
               </span>
              </div>
				 <div class="form-group pull-right">
                          <button type="submit" class="btn btn-primary" ui-sref="RA.Jobtype" >Back</button>
                          <button type="submit" class="btn btn-primary" ng-disabled="user.$invalid" >Submit</button>
                          </div> 
				
			</form> 
		</div>
	</div>
</div>


 
                   
                  