 <div  class="container m-t-50">
              <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Search By</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="SelectedCriteria" ng-options="S for S in Selectors">
                                    <option value="">please select value</option>
                                </select> 
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Search value:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="filterValue" class="form-control" 
                                ng-change="getresourcelistFilter();"/> 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="table-responsive m-t-30">
                	<table  class="table text-center">
						    <thead>
						        <th>S.No</th>
						        <th>First Name</th>
						        <th>Email</th>
						        <th>Mobile</th>
						        <th>Skills</th>
						        <th>Experience</th>
						        <th>Avaliability</th>
								<th>Preferred Location</th>
								<th>City</th>
								<th>Status</th>
								<th>Edit</th>
								
						    </thead>
						    <tbody>
						        <tr ng-repeat="resource in resourcelist">
						            <td>{{$index+1}}</td>
						            <td>{{ resource.firstName}}</td>
						            <td>{{ resource.emailId}}</td>
						            <td>{{ resource.mobileNumber}}</td>
						            <td>{{ resource.skills}}</td>
						            <td>{{ resource.totalExperience }}</td>
						            <td>{{ resource.availability }}</td>
									<td>{{ resource.preferredLocation }}</td>
						            <td>{{ resource.city }}</td>
									<td><a type="button" class="btn btn-primary butn" ng-click="statusResource(resource)">{{resource.status}}</a></td>
						           <td><a type="button" class="btn btn-primary butn" ui-sref="RA.updateresource({resourceId:resource._id})"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
						        </tr>
						    </tbody>
					</table>
                </div> 
                 <div class="row">
                   <div class="col-md-6">
                     <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    </div>
                    <div class="col-md-6">
                         <button type="button" class="btn btn-primary pull-right" ui-sref="RA.addresource"> Add </button>
                     </div>
                 </div>
      </div>